/* 公共类 */
body,html{
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;

}
li {
  list-style: none;

}
a {
  text-decoration: none;
}


/* 乐淘container */
.lt_container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

/* 头部 */
.lt_container .lt_header {
  position: absolute;
  height: 45px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00669A;
}

.lt_container .lt_header .center {
  width: 100%;
  float: left;
}
.lt_container .lt_header .center .main {
  
  height: 45px;
  margin: 0 45px;
  text-align: center;
  line-height: 45px;
  color: white;
  font-size: 20px;
}

.lt_container .lt_header .left {
  width: 45px;
  height: 45px;
  float: left;
  margin-left: -100%;
  text-align: center;
  line-height: 45px;
  
}
.lt_container .lt_header .left a {
  display: block;
  height: 45px;
  color: white;
}
.lt_container .lt_header .right {
  width: 45px;
  height: 45px;
  float: left;
  margin-left: -45px;
  text-align: center;
  line-height: 45px;
  
}
.lt_container .lt_header .right a {
  display: block;
  height: 45px;
  color: white;
}




/* 底部 */
.lt_container .lt_footer {
  position: absolute;
  height: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #006699;
}
.lt_container .lt_footer ul li {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
}
.lt_container .lt_footer li a {
  color: white;
 
}

.lt_container .lt_footer ul li a span {
  margin-top: 8px;
}

.lt_container .lt_footer ul li a p {
  margin-bottom: 0px;
  color: white;
}

.lt_container .lt_footer li a.current {
  color: orange;
}
.lt_container .lt_footer li a.current p {
  color: orange;
}


.lt_container .lt_main {
  position: absolute;
  top: 45px;
  bottom: 55px;
  left: 0;
  right: 0;
  background-color: white;
}


/* 公共搜索框 */
.lt_container .lt_search .header {
  padding: 10px;
  position: relative;
}

.lt_container .lt_search .header input {
  height: 34px;
  width: 100%;
  border: 1px solid #007AFF;
  line-height: 34px;
  padding: 0 15px;  
  border-radius: 5px;
  font-size: 12px;
}

.lt_container .lt_search .header button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}

/* 商品区域 */
.lt_main .product {
  padding: 10px;
}

.lt_main .product img {
  width: 150px;
  height: 150px;
}

.lt_main .product li {
  box-sizing: border-box;
  padding: 10px;
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
}
.lt_main .product li a {
  display: block;
}
.lt_main .product li:nth-child(even) {
  margin-left: 4%;
}