
/* 导航区域 */
.lt_main .nav {
  padding: 10px;
}
.lt_main .nav ul {
  
}
.lt_main .nav ul li {
  
  width: 33.33%;
  float: left;
}
.lt_main .nav ul li a {
  display: block;
} 

.lt_main .nav ul li a img {
  width: 100%;
}

