body,html {
  background-color: #222D32;
  position: relative;
  width: 100%;
  height: 100%;
}

.panel-heading {
  padding: 20px 0;
  text-align: center;
}
.panel-title {
  font-size: 20px;
}

.column {
  margin-top: 200px;
}