<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>myself-乐淘商城</title>
  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/user.css">
  <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
</head>


<body>
  <!-- 模板引擎 -->
  <script type="text/html" id="tpl">
    {{each rows v i}}
    <tr>
        <!-- 第二页的序号应该是： (1 + 1) + 第一页的总条数 -->
        <!-- 三 (1 + 1) + 前两页的总条数 -->

        <td>{{i + 1 + (page-1)*size}}</td>
        <td>{{v.username}}</td>
        <td>{{v.mobile}}</td>
        <!-- 两个状态正常与禁用 -->
        <td>{{v.isDelete === 1 ? '正常':'禁用'}}</td>

        <td data-id="{{v.id}}">
        {{if v.isDelete === 1}}
        <button class="btn btn-danger" >禁用</button>
        {{/if}}

        {{if v.isDelete === 0}}
        <button class="btn btn-success" >启用</button>
        {{/if}}
        </td>

      </tr>
    {{/each}}
  </script>

  <!-- 左边侧边栏 -->
  <div class="lt-aside">
    <div class="title">
      <a href="#">Reborn.J</a>
    </div>

    <div class="userInfo">
      <img src="./images/img.jpg" alt="">
      <p>超级管理员</p>
    </div>

    <ul>
      <li>
        <a href="" class="current">
          <i class="glyphicon glyphicon-user"></i>
          <span>用户管理</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="show_level2">
          <i class="glyphicon glyphicon-list"></i>
          <span>分类管理</span>
        </a>
        <!-- 二级菜单 -->
        <div class="level2 hidden">
          <a href="first.html">一级分类</a>
          <a href="second.html">二级分类</a>

        </div>
      </li>
      <li>
        <a href="product.html">
          <i class="glyphicon glyphicon-tags"></i>
          <span>商品管理</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- 右边的内容 -->
  <div class="lt-content">

    <div class="header">
      <a href="javascript:;" class="pull-left">
        <i class="glyphicon glyphicon-align-justify icon-menu"></i>
      </a>
      <a href="#" class="pull-right">
        <i class="glyphicon glyphicon-log-out icon-logout"></i>
      </a>
    </div>

    <div class="content mt_20">

      <ol class="breadcrumb bread-nav" style="background-color: #f5f5f5;">
        <li>
          <a href="#">管理系统</a>
        </li>
        <li>
          <span style="color: #777777">用户管理</span>
        </li>
      </ol>

      <!-- 表格 -->
      <table class="table table-bordered table-hover">

        <thead>
          <th width="10%">序号</th>
          <th width="20%">用户名</th>
          <th width="30%">手机号</th>
          <th width="20%">状态</th>
          <th width="20%">操作</th>
        </thead>
        <tbody>

          <!-- 占坑 -->


        </tbody>
      </table>

      <!-- 分页 -->
      <ul id="paginator"></ul>
    </div>
  </div>

  <!-- 退出按钮的模态框 -->
  <!-- 外面是蒙层 -->
  <div class="modal fade" tabindex="-1" id="logoutModal">

    <!-- 模态框 -->
    <div class="modal-dialog modal-sm">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
          <h4 class="modal-title">温馨提示</h4>
        </div>

        <div class="modal-body">
          <p class="red">
            <i class="glyphicon glyphicon-info-sign"></i>
            <span> 您确定要退出后台管理系统吗？</span>
          </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="logout">退出</button>
        </div>

      </div>

      <!-- /.modal-content -->
    </div>

    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- 启用禁用的模态框 -->
  <!-- Modal -->
  <div class="modal fade bs-example-modal-sm" id="switchModal" tabindex="-1">

    <div class="modal-dialog modal-sm">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
        </div>

        <div class="modal-body">
          <i class="glyphicon glyphicon-info-sign red"></i>
          <span>你确定要执行此操作吗？</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="switch">确认</button>
        </div>
      </div>

    </div>

  </div>


</body>
<script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="./lib/nprogress/nprogress.js"></script>
<script src="./js/common.js"></script>
<script src="./lib/artTemplate/template-web.js"></script>
<script src="./lib/bootstrap-paginator//bootstrap-paginator.min.js"></script>
<script src="./js/user.js"></script>

</html>